<html>
    <head>
      <title>Acme User Office</title>
      <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css"/>
      <link rel="stylesheet" href="/public/stylesheet/style.css"/>
    </head>
    <body>
      <div class="container">
        <h1>Acme User Office</h1>
        <div class="row">
          <div id="user-form" class="col-lg-5 well">
          </div>
          <div id="office-form" class="col-lg-5 well"></div>
        </div>
        <div class="row">
          <div class="col-lg-5 well">
            <div class="lead">User List</div>
            <div id="user-list"><ul class="list-group"></ul></div>
          </div>
          <div class="col-lg-5 well">
            <div class="lead">Office List</div>
            <div id="office-list"><ul class="list-group"></ul></div>
          </div>
        </div>
      </div>
      <script src='/vendor/jquery/dist/jquery.js'></script>
      <script src="/public/app.js"></script>
      <script src="/public/UserForm.js"></script>
      <script src="/public/OfficeForm.js"></script>
      <script src="/public/UsersList.js"></script>
      <script src="/public/OfficeList.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&libraries=places"></script>

    </body>

  </html>
